.muscle-header {
    height: 80vh;
    background-image: url('../imagenes/fondo.jpeg');
    background-size: cover;
    background-position: center;
}

.card {
    border-radius: 10px;
    transition: transform .2s, box-shadow .2s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

